<div class="mainContainer">
  <div class="loginimage">
    <img src="https://source.unsplash.com/180x1080/?painting" alt="" />
  </div>
  <div class="main_content">
    <div class="loginText">
      <h3>Log in</h3>
      <p>By continuing, you agree to our User Agreement and Privacy Policy.</p>
    </div>

    <div class="loginSection">
      <div>
        <input class="username_login" type="text" placeholder="USERNAME" />
      </div>
      <div>
        <input class="password_login" type="password" placeholder="PASSWORD" />
      </div>
      <div>
        <button class="button_login">Log in</button>
      </div>
    </div>
    <p>New to Reddit? <a href="">SIGN UP</a></p>
  </div>
</div>
